* {
  box-sizing: border-box;
}
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #000000;
}
body {
  background-color: #06767a;
}
p {
  margin:0;
  padding: 11 px;
}
section {
  border:1 px solid black;
  background color: #f2433a;
  height: 250 px;
  width: 100 %;
  font-family:Times New Roman;
  color: blue;
  overflow: auto;
  position: relative;
}
.container{
  padding: 12px;
  margin:11px;
  border: none;
}
#CHICKEN {
  border: 1px grey;
  text-align: center;
  width: 30%;
  margin-left: 60%;
  font-family: Georgia;
    font-weight: bold;
  font-size: 120%;
  padding: 6px;
  background-color: #e54242;
}
#BEEF {
  border: 1px grey;
  text-align: center;
  width: 30%;
  margin-left: 60%;
  font-family: Georgia;
    font-weight: bold;
  font-size: 120%;
  padding: 6px;
  background-color: #fff726;
}
#SUSHI {
  border: 1px grey;
  text-align: center;
  width: 30%;
  margin-left: 60%;
  font-family: Georgia;
    font-weight: bold;
  font-size: 120%;
  padding: 6px;
  background-color: #1fc422;
}
.row{
  width:100%;
}
/*desktop view*/
@media (max-width: 992px){
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,.col-md-6,.col-md-7, .col-md-8, .col-md-9, .col-md-10,.col-md-11, .col-md-12
  float: left;
  }
  .col-md-1 {
  width:8.33%;
  }
  .col-md-2 {
  width:16.66%;
  }
  .col-md-3 {
  width:25%;
  }
  .col-md-4 {
  width:33.33%;
  }
  .col-md-5 {
  width:41.66%;
  }
  .col-md-6 {
  width:50%;
  }
  .col-md-7 {
  width:58.33%;
  }
  .col-md-8 {
  width:66.66%;
  }
  .col-md-9 {
  width:75%;
  }
  .col-md-10 {
  width:83.33%;
  }
  .col-md-11 {
  width:91.66%;
  }
  .col-md-12 {
  width:100%;
  }
}
/*Tablet View*/
@media (min-width: 768px) and  (max-width: 991px){
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,.col-md-6,.col-md-7, .col-md-8, .col-md-9, .col-md-10,.col-md-11, .col-md-12
  float:left;
  }
  .col-md-1 {
  width:8.33%;
  }
  .col-md-2 {
  width:16.66%;
  }
  .col-md-3 {
  width:25%;
  }
  .col-md-4 {
  width:33.33%;
  }
  .col-md-5 {
  width:41.66%;
  }
  .col-md-6 {
  width:50%;
  }
  .col-md-7 {
  width:58.33%;
  }
  .col-md-8 {
  width:66.66%;
  }
  .col-md-9 {
  width:75%;
  }
  .col-md-10 {
  width:83.33%;
  }
  .col-md-11 {
  width:91.66%;
  }
  .col-md-12 {
  width:100%;
  }
}
/*Mobile View*/
@media (max-width: 768px){
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,.col-md-6,.col-md-7, .col-md-8, .col-md-9, .col-md-10,.col-md-11, .col-md-12
  float: left;
  }
  .col-md-1 {
  width:8.33%;
  }
  .col-md-2 {
  width:16.66%;
  }
  .col-md-3 {
  width:25%;
  }
  .col-md-4 {
  width:33.33%;
  }
  .col-md-5 {
  width:41.66%;
  }
  .col-md-6 {
  width:50%;
  }
  .col-md-7 {
  width:58.33%;
  }
  .col-md-8 {
  width:66.66%;
  }
  .col-md-9 {
  width:75%;
  }
  .col-md-10 {
  width:83.33%;
  }
  .col-md-11 {
  width:91.66%;
  }
  .col-md-12 {
  width:100%;
  }
}
